<ion-header no-border>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Botones</ion-title>

    <ion-buttons slot="end">

      <ion-button color="primary">
        <ion-icon name="star"></ion-icon>
      </ion-button>

      <ion-button color="primary">
          <ion-icon name="heart"></ion-icon>
        </ion-button>

    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- botones normales -->
  <ion-button size="small" expand="full">Small</ion-button>
  <ion-button size="default" expand="full">Default</ion-button>
  <ion-button expand="large">Large</ion-button> 

</ion-content>
